.cardClass{
    transition: all 0.5s ease;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.card-img-top{
    height: 100px;
    width: 75%;
   
}
.product img{
    transition: all 0.5s ease;
    
}
.product img:hover{
    transform: scale(1.1);
}